{% if page.layout == 'post' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | strip_newlines | truncate: 160 | jsonify }},
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  {% if page.last_modified_at %}
  "dateModified": "{{ page.last_modified_at | date_to_xmlschema }}",
  {% else %}
  "dateModified": "{{ page.date | date_to_xmlschema }}",
  {% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | absolute_url }}"
  },
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | default: site.author | jsonify }},
    "url": "{{ site.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.avatar | absolute_url | default: site.theme_assets.avatar }}"
    }
  },
  "image": [
    {% if page.image.path %}
      "{{ page.image.path | absolute_url }}"
    {% else %}
      "{{ site.avatar | absolute_url | default: site.theme_assets.avatar }}"
    {% endif %}
  ]
}
</script>
{% endif %}
